<div class="row">
	<div class="col-md-4">
		<%= image_tag @restaurant.image_url %>

		<h2>
		  <%= @restaurant.name %>
		</h2>

		<div class="star-rating", data-score= <%= @avg_rating %> ></div></br>
		

			
		<p>
			<% if (@reviews.length) == 1 %>
				<%= "#{@reviews.length} review" %>
			<% else %>
				<%= "#{@reviews.length} reviews" %>
			<% end %>
		</p>


		

		<p>
		  <strong>Address:</strong>
		  <%= @restaurant.address %>
		</p>

		<p>
		  <strong>Phone:</strong>
		  <%= @restaurant.phone %>
		</p>

		<p>
		  <strong>Website:</strong>
		  <%= link_to @restaurant.website, @restaurant.website %>
		</p>

		<%= link_to 'Write a Review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %></br>
		<%= link_to 'Back', root_path, class: "btn btn-link" %>


	</br>

		<iframe
			width="300"
			height="300"
			frameborder="0" style="border:0"
			src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBL1EaDyB9xt3n3E6luB21Nl9FFAdcsVOU&q=<%= @restaurant.address.parameterize %>">
		</iframe></br>

		</br>
	</div>

	<div class="col-md-8">
		<% if @reviews.blank? %>
			<h3>Be the first to review <%= (@restaurant.name) %></h3>
		<% else %>
			<table class="table">
				<thead>
					<tr>
						<th class="col-md-3"></th>
						<th class="col-md-9"></th>
					</tr>
				</thead>

				<tbody>
					<% @reviews.each do |review| %>
						<tr>
							<td>
								<div class="star-rating", data-score= <%= review.rating %> ></div></br>							
								<p><%= review.created_at.strftime("%-d/%-m/%-y") %></p>
								<p><%= review.created_at.strftime("%l:%M %P") %></p>								
							</td>

							<td>
								<strong><h4><%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %></h4></strong>
								<p> <%= h(review.comment).gsub(/\n/, '<br/>').html_safe %> </p>
								<% if user_signed_in? %>
									<% if (review.user == current_user) || (current_user.admin?) %>
										<%= link_to "Edit", edit_restaurant_review_path(@restaurant, review), class: "btn btn-link" %>
										<%= link_to "Delete", restaurant_review_path(@restaurant, review), method: :delete, class: "btn btn-link" %>
									<% end %>
								<% end %>											
							</td>						
						</tr>
					<% end %>
				</tbody>
			</table>
		<% end %>
	</div>
</div>

<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/yakdemo/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
